.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;  
}
.logo {
  font-size: 1.5rem;
  color: white;
  padding-right: 10px;
}
ul.menu {
  display: flex;
  justify-content: center;
}

.navbar-dark .navbar-nav .nav-link.active {
  color:aquamarine;
}