header.message {
  padding: 15px 20px 15px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0;
  background: white;
  box-shadow: 2px 2px 3px 0px #ccc;
  h4 {
    padding-bottom: 10px;
  }
}