@import '../../settings.scss';

.main-menu.navbar {
  box-shadow: 0px 5px 15px grey;

  position: fixed !important; 
  top: 0;
  left: 0;
  right: 0;
}

.main-menu.navbar .navbar-brand {
  &:hover, &:active {
    color: $primary-color !important;    
  }
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  &.menu-item-right {
    padding-left: 1.2rem;  
    &.active, &:hover {
      color: $primary-color;
    }
  }
  &.menu-item-center {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    &.active, &:hover {
      color: $primary-color;
    }
  }
}

.logo {
  margin-top: -5px;
  padding-right: 5px;
  width: 40px;
}
