@import 'settings.scss';

body {
  margin: 0;
  padding: 0;
  background: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*******************************/
/*

$text-color: #444;
$link-color: $primary-color;
$link-hover-color: $secondary-color;
$white: #f6f6f6;
$gray: #a0a0a0;
$error-color: #ff6666;
$border-color: #bbb;
$background-color: #ccc;
$header-background-color: $white;

// font sizes
$font-size-xxxl: 36;
$font-size-xxl: 24;
$font-size-xl: 20;
$font-size-l: 16;
$font-size: 15;
$font-size-s: 12;
$font-size-xs: 10;
$font-size-xxs: 8;

// fonts

@font-face {
  font-family: 'Muli';
  src: url('~assets/fonts/muli/Muli-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Muli';
  src: url('~assets/fonts/muli/Muli-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Cabin';
  src: url('~assets/fonts/cabin/Cabin-Regular.ttf');
  font-weight: normal;
}
@font-face {
  font-family: 'Cabin';
  src: url('~assets/fonts/cabin/Cabin-Bold.ttf');
  font-weight: 700;
}

$font-family: 'Muli', sans-serif;
$font-family-main: 'Cabin', sans-serif;

// Breakpoints
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;

// shadows
$box-shadow-default: 1px 1px 3px 0px $text-color;
$box-shadow-bottom: -1px -1px 3px 0px $gray;

// header heights
$header-height-mobile: 55px;
$header-height-tablet-portrait: 102px;
$header-height-tablet-landscape: 102px;
$footer-height: 50px;

// gutter
$gutter-padding: 20px;

// animations
@keyframes bounce {
  from {
		transform: rotate(-5deg) scale(1.0);
  }
  to {
    transform: rotate(5deg) scale(1.05);
  }
}
*/